<h1>Please log in:</h1>

<%= form_tag sessions_path %>
<%= label_tag :username %><br>
<%= text_field_tag :username %><br><br>
<%= label_tag :password %><br>
<%= password_field_tag :password %><br><br>
<%= submit_tag "Log in" %>
