<h1><%= @user.username %>'s Page</h1>


<%= link_to 'Add a new picture', new_picture_path %>
<%= link_to 'Edit User', edit_user_path %>
<%= link_to 'Log Out', logout_path %>

<h3><%= @user.username %>'s pictures:</h3> <br>
<% @user.pictures.each do |pic| %>
<%= image_tag pic.image_url %><br>
<% end %>
<br>

<h3><%= @user.username %>'s comments:</h3> <br>
<% @user.comments.each do |com| %>
On picture <%= com.picture_id.name %>:
<%= com.content %> <br>
<% end %>
