<%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
<h1><%= @user.username %>'s Page</h1>

<% if @user == current_user %>
  <%= link_to 'Add a new picture', new_picture_path, class: 'btn' %><br>
  <%= link_to 'Edit Profile', edit_user_path, class: 'btn edit-button' %><br><br>
<% elsif current_user_is_following(current_user.id, @user.id)  %>
  <%= link_to 'Following', unfollow_user_path, remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post%>
<% else %>
  <%= link_to 'Follow', follow_user_path, remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %>
<% end %>


<h4>Followers</h4>
<%= current_user.followers.count %><br><br>

<table>
  <tr>
    <th>Your pictures:</th>
  </tr>
  <tr>
    <td>
      <% @user.pictures.reverse_each do |pic| %>
        <%= link_to image_tag(pic.image.url(:medium)), picture_path(pic) %><br>
      <% end %>
    </td>
  </tr>
</table>

<br>

<h4>Your comments:</h4>
<% @user.comments.each do |com| %>
On picture <%= com.picture.title %>:
<%= com.content %> <%= link_to "Delete comment", comment_path(com), method: :delete %> <%= link_to "See picture", picture_path(com.picture) %> <br>
<% end %>
