<h1>Add a new picture:</h1>

<%= form_tag pictures_path  %>
<%= label_tag :title %><br>
<%= text_field_tag 'picture[title]' %><br><br>
<%= label_tag :image_url %><br>
<%= text_field_tag 'picture[image_url]' %><br><br>
<%= label_tag 'Select existing tag(s)' %><br>
<% Tag.all.each do |tag| %>
  <%= check_box_tag "picture[tag_ids][]", tag.id %>
  <%= tag.name %><br>
<% end %>
<br>
<%= label_tag 'and/or create a new tag:' %><br>
<%= text_field_tag "picture[tag][name]" %><br><br>
<%= submit_tag 'Add new picture'%>
