<div class="pictures-wrapper">
  <div class="col-md-4 col-md-offset-4">
    <div class="picture">
      <div class="picture-body">
        <div class="image-wrap">
          <%= form_for @picture, html: { multipart: true} do |f| %>
            <div class="row">
              <div class="col-md-12 text-center">
                <% if @picture.errors.any? %>
                <div class="error_explanation">
                  <ul>
                  <% @picture.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
                <% end %>
              </div>
            </div>
            <div class="container-fluid">
              <div class="form-group text-center">
                <h3>Upload your image</h3>
                <br>
                <center><%= f.file_field :image %></center>
              </div>
              <div class="form-group text-center">
                <%= f.label "Add your title" %><br>
                <%= f.text_field :title %>
              </div>
              <br>
              <div class="form-group text-center">
                <%= f.label 'Select existing tag(s):' %><br>
                <%= collection_check_boxes(:picture, :tag_ids, Tag.all, :id, :name) do |b| %>
                    <%= b.label { b.check_box + b.text } %>
                <% end %>
              </div>
              <br>
              <div class="form-group text-center">
                <%= f.label "and/or create a new tag:" %><br>
                <%= fields_for :tag do |t| %>
                  <%= t.text_field :name %><br>
                <% end %>
              </div>

              <div class="form-group text-center">
                <%= f.submit "Create Picture", class: 'btn-success btn-block' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
