<h1><%= @picture.title %></h1>

<% if @picture.user_id == current_user.id %>
<%= link_to "Edit picture", edit_picture_path(@picture) %><br>
<%= link_to "Delete picture", picture_path(@picture), method: :delete %> <br><br>
<% end %>

<%= image_tag @picture.image.url(:medium)%><br>

<br><br>

<% if !@picture.tags.empty? %>
  <%= "Picture tag(s):" %>
  <% @picture.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
  <% end %>
<% end %>

<br>

<% if !@picture.comments.empty?  %>
  <%= "Picture comment(s):" %>
  <% @picture.comments.each do |com| %>
    <li>"<%= com.content %>" by <%= com.user.username %></li>
  <% end %>
<% end %>

<br>

Add a new comment:<br>
<%= form_for @comment do |f| %>
<%= f.text_area :content %><br>
<%= f.hidden_field :picture_id, :value => @picture.id %>
<%= f.submit %>
<% end  %>

<br><br>

<%= link_to "Go to profile", user_path(current_user) %>
